<%= render "layouts/header" %>
<div class="content">

<h3>payment methods</h3>
<strong>crypto:</strong>
<p>bitcoin</p>
<p>bitcoin cash</p>
<p>dodgecoin</p>
<strong>other:</strong>
<p>paypal</p>

<br>
<p>R108 per month. pay as you go</p>
<a href="#">sign up</a>
</div>

<footer>
<hr>
<p>made with ruby.</p>
</footer>
<img class="sages" src="/assets/sages.png">
