<%= render "layouts/header" %>
<div class="content">

<p><strong>Pricing:</strong></p>
<!--
<p>R108.00 / $6.50 Monthly - Pay as you go.</p>
<br>
<p>R149 / $9.00 Monthly</p>
<p>R108 / $6.75 Monthly / 6 months / 25% save</p>
<p>R74 / $4.5 Monthly / 2 years / 50% save</p>
<br>
<p>R149 / $9.00 Monthly</p>
<p>R99 / $6.00 Monthly / 6 months / Save ⅓ / R 594</p>
<p>R99 / $6.00 Monthly / 1 years / Save ⅓ / R 1188</p>
<p>R49 / $3.00 Monthly / 2 years / Save ⅔ / R 1176</p>
-->
<br>
<p>R160 / $10.00 Monthly</p>
<p>R130 / $8.00 Monthly / 6 months / R 780</p>
<p>R100 / $6.00 Monthly / 1 years / R 1200</p>
<br>


<%= render inline: @svg %>

<p><strong>Available Payment Methods:</strong></p>
<p> Cryptocurrencies (Bitcoin, Bitcoin cash, Dodgecoin, Ethereum) & PayPal.</p>

<% if !user_signed_in? %>
  <br>
  <hr>
  <p><%= link_to "Get Started", new_user_registration_path  %></p>
<% end %>
</div>

<%= render "layouts/footer" %>
