<%= render "layouts/header" %>
<div class="content">

<h3>Pricing & Payment Methods</h3>
<h4>Price:</h4>
<p>R108 / $6.5 Monthly - Pay as you go.</p>
<h4>Available Payment Mehods:</h4>
<strong>Crypto-</strong>
<p>-Bitcoin</p>
<p>-Bitcoin cash</p>
<p>-Dodgecoin</p>
<p>-Ethereum</p>
<strong>Other-</strong>
<p>-Paypal</p>

<br>
<% if !user_signed_in? %>
  <br>
  <hr>
  <p>Click <%= link_to "here", new_user_registration_path  %> to get started.</p>
<% end %>

</div>

<%= render "layouts/footer" %>
