<%= render "layouts/header" %>
<div class="content">

<h3>pricing</h3>
<br>
<p>we have the following payment methods available.</p>
<strong>crypto:</strong>
<p>bitcoin</p>
<p>bitcoin cash</p>
<p>dodgecoin</p>
<p>ethereum</p>
<strong>other:</strong>
<p>paypal</p>

<br>
<p>R108 or $6.5 per month. pay as you go</p>

<% if !user_signed_in? %>
  <p><%= link_to "sign up", new_user_registration_path %></p>
<% end %>

</div>

<%= render "layouts/footer" %>
