<%= render "layouts/header" %>

<div class="content">
<p>Multiple VPN hop solution for added anonymity. You will connect to our entrypoint vpn server, and then
your traffic will be routed over another vpn tunnel to a different upstream provider, in a different region, and then only exit to public internet -</p>

<p>With the standard VPN setup of: user, vpn-server, internet. you make an request for google.co.za, then openvpn client on your machine encrypts that request,
and sends it off to the vpn-server. Making it impossible for your own ISP to see what you are requesting from the internet. But the ISP of the vpn-server (upstream provider),
they know who you are. They can see you are sending an encrypted packet so they wait to see what that vpn-server is trying to access on the internet
at that specific time, and with some luck and timing, they will be able to tell what you request from the internet.</p>

<p>Thats where the multiple VPN hop helps, by sending your encrypted packet on to an 3rd ISP (upstream provider).
Making it much harder for the exit vpn (3rd ISP) to know that you are the source of the web request.</p>

<p>We are busy developing a tool to modify packets sizes between the entrypoint vpn and exit vpn -
combined with the aggregated traffic from all other vpn users - making timing and packet size attacks, to track you, almost null.</p>

<p>lower-latency VPN solution. Infrastructure hosted in South Africa, with multiple upstream providers, in multiple regions.</p> 

<p>Rather created a bit more anonymizing service, than exiting my traffic in Europe - and dealing with high ping.</p>

<% if !user_signed_in? %>
  <p><%= link_to "sign up", new_user_registration_path %></p>
<% end %>

</div>

<%= render "layouts/footer" %>
