<%= render "layouts/header" %>

<div class="content">
<p>Mutiple VPN hop solution for added anonymity. You will connect to our entrypoint vpn server, and then
your traffic will be routed over another vpn tunnel to a different hosting region, and then  exit to public internet.</p>

<p>lower-latency VPN solution. South Africa hosted infratucture, in mutiple regions.</p>
<p><a href="#">sign up</a></p>
</div>

<footer>
<hr>
<p>made with ruby.</p>
<p><a href="#">privacy</a> | <a href="#">usage terms</a> | <a href="#">canary</a></p>
</footer>
<img class="sages" src="assets/sages.png">

