<%= render "layouts/header" %>

<div class="content">
<h3>The Product:</h3>
<p>A Low-Latency VPN solution with multiple hops for added anonymity, infrastructure hosted in South Africa & multiple upstream providers in multiple regions.

Connect to your VPN entrypoint and have your traffic routed over an additional VPN tunnel with a different provider (in another region) before exiting to the public internet.</p>

<h3>The Problem:</h3>
<p>With a traditional 'User -> VPN Server -> Internet' VPN setup your request to a website is encrypted by the client (OpenVPN, for instance) and sent to the VPN server. This keeps your ISP (Internet Service Provider) from eavesdropping on your request from the internet. 

The issue is that the VPN Server provider can still see where the request has been generated, and with a bit of luck and timing, they can see what the VPN has requested and make a deduction - tying you to the request.</p>

<h3>The Solution:</h3>
<p>Multiple VPN hops solve this by sending the packet which has been encrypted to a third provider before existing to public internet, keeping the entrypoint VPN Server from seeing what your request is, and keeping the exit VPN Server from knowing where the request was generated.</p>

<h4>Other:</h4>
<p>We are also developing a tool to modify packet sizes between the entrypoint and exit VPN Servers. Combined with all the aggregated traffic this would make timing and packet size attacks attempting to track you almost null.</p>

<br>
<% if !user_signed_in? %>
  <br>
  <hr>
  <p><%= link_to "get started", new_user_registration_path  %></p>
<% end %>

</div>

<%= render "layouts/footer" %>
