<link rel="stylesheet" href="style.css">

<img class="garuda-header" src="garuda-header.png">

<hr>
<span>
<ul><a href="#">pricing</a></ul>
<ul><a href="#">faq</a></ul>
<ul><a href="#">contact</a></ul>
<ul> | </ul>
<ul><a href="#">privacy</a></ul>
<ul><a href="#">usage terms</a></ul>
<ul><a href="#">canary</a></ul>
</span>

<div class="content">

<h3>payment methods</h3>
<strong>crypto:</strong>
<p>bitcoin</p>
<p>bitcoin cash</p>
<p>dodgecoin</p>
<strong>other:</strong>
<p>paypal</p>

<br>
<p>R108 per month. pay as you go</p>
<a href="#">sign up</a>
</div>

<footer>
<hr>
<p>made with ruby.</p>
</footer>
<img class="sages" src="sages.png">
