<%= render "layouts/header" %>
<div class="content">
<h3>faq</h3>

<p ><strong>Q: </strong>what protocols supported?</p>
<p><strong>A: </strong>we are only running openvpn for now.</p>
<br>
<p><strong>Q: </strong>what speed can i expect?</p>
<p><strong>A: </strong>running on shared +100mbps line</p>
<br>
<p><strong>Q: </strong>what is the contention ratio?</p>
<p><strong>A: </strong>15:1</p>
<br>
<p><strong>Q: </strong>what operating systems are support?</p>
<p><strong>A: </strong>anroid, ios, windows, mac and linux</p>
<br>
<p><strong>Q: </strong>what software do i need to install?</p>
<p><strong>A: </strong>for android, ios, windows and linux, you can download the OpenVPN client. and for mac you can download Viscosity.</p>
<br>
<p>view privacy policy and usage terms page for other details.</p>
</div>

<%= render "layouts/footer" %>
