<%= render "layouts/header" %>
<div class="content">
<h3>contact</h3>

<p>riot: #vpn.tattva:matrix.org</p>
<p>email: johan@tuta.io</p>
<p>signal app: +27-68-527-7180</p>


</div>

<%= render "layouts/footer" %>
