<%= render "layouts/header" %>
<div class="content">

<h3>Contact Us:</h3>

<p>Riot: #vpn.tattva:matrix.org</p>
<p>Email Address: johan@tuta.io</p>
<p>Signal App: +27-68-527-7180</p>

</div>

<%= render "layouts/footer" %>