<footer>
<hr>
<p>made with ruby on rails.</p>
<p><a href="/assets/privacy.txt">privacy</a> | <a href="/assets/usage_terms.txt">usage terms</a> | <a href="/assets/canary.txt">canary</a></p>
</footer>
<%= image_tag("sages.png", class: "sages") %>
