<footer>
<hr class="footer-hr">
<p>made with ruby on rails.</p>
<p><a href="/privacy.txt">privacy</a> | 
  <a href="/usage_terms.txt">usage terms</a> | 
  <a href="/about_us.txt">mission statement</a> | 
  <a href="https://github.com/PanchaTattva" target="blank_">github</a></p>
</footer>
<%= image_tag("sages.png", class: "sages") %>
